sim/.simvison/./*
sim/.waves.shm/.*
sim/xcelium.d/.*
sim/.sym*
sim/./.*
sim/waves.shm
vivado/SystolicCore/srcs/utils_1/imports/synth_1/*
vivado/SystolicCore/sim_1_behav/*
vivado/SystolicCore/SystolicCore.srcs/utils_1/imports/synth_1/Arty7_top_sim*
vivado/SystolicCore/SystolicCore.srcs/utils_1/imports/synth_1/.*
vivado/SystolicCore/SystolicCore.srcs/utils_1/imports/synth_1/*.
./vivado/SystolicCore/SystolicCore.sim/sim_1/behav/xsim/tb_behav.wdb
